* {
  font-family: Helvetica;
}
#top  {
  background-image : url("../images/the-flatiron-building.png");
  text-align: center;
  color: white;
}
#top a:link {
  font-size: 18px;
  color: white;
}
#top a:visited {
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
#about {
  text-align: center;

}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
#about p {
  font-size: 14px;
}
h4 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;
  font-weight: bold;
}
#work {
  text-align: center;
}
#work p {
  font-size: 14px;
}
#team {
  text-align: center;
}
#team p {
  font-size: 14px;
}
#contact {
  text-align: center;
}
#contact p {
  font-size: 14px;
}
