* {
  font-family: Helvetica;
}
#top  {
  background-image : url("../images/the-flatiron-building.png");
  text-align: center;
  color: white;
}
a:link {
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
